## Part 2 - DISCOVER

## Data Prep

In [1]:
import pandas as pd

## Calling Helper Functions
* Added a scripts directory and called it helpers
* In helpers added a module <i/>helpers.py</i> that holds all our helper functions

In [2]:
# Adding the helpers directory to path
import sys
sys.path.insert(0,'./helpers')

In [3]:
import helpers

In [4]:
from helpers import read_in_dataset, merge_dataset

In [5]:
ls

'00. Define Problem.ipynb'*                             data_trans_pipe.PNG*
'01. Data Preperation.ipynb'*                           derived_data/
'02. Data_Exploration.ipynb'*                           helpers/
'03. Data_Preprocessing.ipynb'*                         raw_data/
'04. Data_modeling .ipynb'*                             unzipped_data/
'Data Science Interview Assignment-Sam_Mfalila.docx'*

In [6]:
#Reading salaries data
salaries = helpers.read_in_dataset("train_salaries", verbose=True)

******************** Reading in the train_salaries dataset *********************

it has 1000000 rows and 2 columns
n************************* It has the following columns**************************

Index(['jobId', 'salary'], dtype='object')
n********************** The first five rows look like this **********************

              jobId  salary
0  JOB1362684407687     130
1  JOB1362684407688     101
2  JOB1362684407689     137
3  JOB1362684407690     142
4  JOB1362684407691     163

In [7]:
#Reading features data
features = helpers.read_in_dataset("train_features", verbose=True)

******************** Reading in the train_features dataset *********************

it has 1000000 rows and 8 columns
n************************* It has the following columns**************************

Index(['jobId', 'companyId', 'jobType', 'degree', 'major', 'industry',
       'yearsExperience', 'milesFromMetropolis'],
      dtype='object')
n********************** The first five rows look like this **********************

              jobId companyId         jobType       degree      major  \
0  JOB1362684407687    COMP37             CFO      MASTERS       MATH
1  JOB1362684407688    COMP19             CEO  HIGH_SCHOOL       NONE
2  JOB1362684407689    COMP52  VICE_PRESIDENT     DOCTORAL    PHYSICS
3  JOB1362684407690    COMP38         MANAGER     DOCTORAL  CHEMISTRY
4  JOB1362684407691     COMP7  VICE_PRESIDENT    BACHELORS    PHYSICS

  industry  yearsExperience  milesFromMetropolis
0   HEALTH               10                   83
1      WEB                3                   73
2   HEALTH               10                   38
3     AUTO                8                   17
4  FINANCE                8                   16

In [8]:
!free -m

              total        used        free      shared  buff/cache   available
Mem:           9041        2090        4084         114        2867        6573
Swap:          2047           0        2047

## Exploring Datasets

In [9]:
#How many salary records dont have matching features?
len(set(salaries.jobId) - set(features.jobId))

0

In [10]:
#How many feature records dont have matching salaries?
len(set(features.jobId) - set(salaries.jobId))

0

 All salaries have matching features.

## Making a Dataset for Analysis

We'll use the merged_dataset() stored earlier in our helper.py module

In [11]:
#Inspecting the function
import inspect

In [12]:
print(inspect.getsource(merge_dataset))

def merge_dataset(salaries, features):

    """
    Merging the salaries and features datasets. Both need to have a common key jobId

    Keyword arguments:
    salaries -- the dataframe of salary data
    features -- the dataframe of features

    Returns:
    A pandas dataframe
    """
    train_data_merged = salaries.merge(features, how='right', on ='jobId')

    return train_data_merged

In [13]:
#Merging data and removing raw datasets
train_data_merged = merge_dataset(salaries, features)
del salaries
del features

In [14]:
train_data_merged.head()

,jobId,salary,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis
0,JOB1362684407687,130,COMP37,CFO,MASTERS,MATH,HEALTH,10,83
1,JOB1362684407688,101,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73
2,JOB1362684407689,137,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38
3,JOB1362684407690,142,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17
4,JOB1362684407691,163,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8,16

In [15]:
train_data_merged.shape

(1000000, 9)

Making a directory "derived_data" to store our modelling data

In [16]:
!mkdir -p derived_data

Writing our modeling data to a csv for loading on our next notebook

In [17]:
train_data_merged.to_csv('derived_data/train_data_merged.csv', index=False)